body{
	background: url(https://images.unsplash.com/photo-1489157133503-78f2a7b6808e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7f5f9d1fb9e5b185127243db64f0bca9&auto=format&fit=crop&w=500&q=60);
	background-size: cover;
	background-position: center; 
	font-family: 'Ubuntu', sans-serif;
	color: white;
}

html{
	height: 100%;
}

#content{
	text-align: center;
	padding-top: 20%;
	text-shadow: 0px 4px 3px #6f706b;
}

h1{
	font-weight: 700;
	font-size: 5em;
}

h3{
	text-shadow: 0px 4px 3px #6f706b,
				 0px 8px 13px black,
				 5px 18px 23px #9e8f0b;
}
hr{
	width: 450px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

.navbar-default .navbar-nav>li>a {
    color: #1f1f3a;
    font-weight: bold;
}

.navbar-default .navbar-nav>li>a:hover {
	background-color: powderblue;
}

.navbar-default .navbar-brand:hover {
	color: #636109;
	}
.navbar-default .navbar-brand {
    color: #13135b;
    font-size: 2rem;
    font-weight: bold;
}

.btn-group-lg>.btn, .btn-lg {
	background: #10101c;
    border-color: #10101c;
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));

